/* Font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mozilla+Headline:wght@200..700&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* for whole sheet */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #243e63;
    font-family: "Inter", sans-serif;
}

.row {
    margin: 0 auto;
    width: 100%;
    max-width: 1280px;
}

section {
    padding: 0 32px;
}

.container {
    padding: 96px 0;
}

.blue {
    color: #6415ff;
}

h1 {
    color: black;
    font-size: 48px;
    line-height: 1.25;
}

button {
    cursor: pointer;
}

body {
    overflow-x: hidden;
}


/* nav */

nav {
    padding: 32px 0 0;
    display: flex;
}

.nav-row {
    display: flex;
    justify-content: space-between;
}

.nav-logo {
    display: flex;
    align-items: center;
    margin: 8px 0px;
    padding-bottom: 4px;
    letter-spacing: 0.6px;
}

.nav-links {
    display: flex;
    align-items: center;
    padding-bottom: 4px;
}

.nav-link {
    margin: 0 24px;
    padding: 4px 0px 0px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.35px;
    border-bottom: 2px solid transparent;
    transition: all 300ms ease;
}

.nav-link:hover, .nav-link-login:hover {
    border-bottom: 2px solid #6415ff;
    cursor: pointer;
}


.nav-link-login {
    margin-left: 48px;
    margin-right: 24px;
    font-size: 14px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all 300ms ease;
}

.nav-link-primary {
    font-size: 14px;
    font-weight: 600;
    padding: 10px 32px;
    border-radius: 9999px;
    background-color: #6415ff;
    color: white;
    margin: 2px 0px;
    line-height: 1.5;
    border-bottom: 2px solid transparent;
    transition: all 300ms ease;
}

.nav-link-primary:hover {
    background-color: #340d81;
    cursor: pointer;
}

.logo {
    width: 40px;
    display: flex;
}

.nav-logo-title {
    margin-left: 12px;
    font-size: 24px;
    font-weight: 900;
    padding: 2px;
    letter-spacing: 0.6px;
    color: #243e63;
}

/* hamburger menu */

.menu-backdrop {
    position: absolute;
    visibility: hidden;
    margin: 12px;
    border: 2px solid #6415ff;
    border-radius: 8px;
    background-color: white;
    top: 0;
    left: 0;
    right: 0;
    bottom: 12;
    z-index: 100;
    flex-direction: column;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    opacity: 0;
}

.hamburger-menu {
    display: none;
    background: transparent;
    font-size: 32px;
    border: none;
    transition: all 300ms ease;
}

.fa-bars {
    transition: all 300ms ease;
}
.fa-bars:hover {
    color: #6415ff;
}
.fa-xmark {
    color: #6415ff;
}

.menu--open .menu-backdrop {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
}

.menu-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px;
}

.menu-x {
    position: absolute;
    right: 0;
    background: transparent;
    border: none;
    font-size: 24px;
    padding: 32px 24px;
}

.menu-link {
    padding: 12px 0px;
    font-size: 18px;
    font-weight: 600;
}

.menu-link:hover, .menu-link-login:hover {
    cursor: pointer;
}

.menu-link-primary {
    font-size: 18px;
    font-weight: 600;
    border-radius: 9999px;
    padding: 12px 32px;
    background-color: #6415ff;
    color: white;
    transition: all 300ms ease;
}

.menu-link-primary:hover {
    background-color: #340d81;
    cursor: pointer;
}



/* header */

.header-description {
    width: 40%;
    line-height: 1.5;
}

header .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-img-wrapper {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.header-description-para {
    padding: 32px 0px;
    font-size: 18px;
    line-height: 1.5;
    padding-right: 16px;
}

.header-customers-title {
    margin-top: 80px;
    color: #a0aec0;
    font-size: 12px;
    font-weight: 700;
}

.header-customers {
    margin-top: 16px;
    padding-right: 128px;
    opacity: 0.5;
    width: 100%;
}

.header-img {
    width: 100%;
}

.header-input-and-button {
    width: 100%;
    max-width: 448px;
    height: 68px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-input {
    border: 2px solid rgb(229, 231, 235);
    width: 100%;
    padding: 20px 192px 20px 32px;
    border-radius: 500px;
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    color: rgb(36, 62, 99);
    top: 0;
    bottom: 0;
    z-index: 1;
}

.header-btn {
    border: none;
    z-index: 2;
    margin: 8px;
    height: calc(100% - 16px);
    border-radius: 500px;
    background-color: #6415ff;
    color: white;
    font-weight: 700;
    font-size: 16px;
    width: 160px;
    transition: all 300ms ease;
}

.header-btn:hover {
    background-color: #340d81;
}

/* features */

.section-top {
    color: #6415ff;
    font-size: 16px;
}

.section-title {
    font-size: 48px;
    margin: 16px 0;
    font-weight: 900;
    line-height: 1.25;
}

.row-features {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.features-subtitle {
    font-size: 18px;
    color: #7c8ba1;
    padding: 0 270px;
    line-height: 1.625;
    font-weight: 500;
}

.features {
    margin-top: 48px;
    display: flex;
    flex-wrap: wrap; /*IMPORTANT TO GETTING 3 PER ROW */
    justify-content: center;
}

.feature {
    width: calc(100% / 3);
    display: flex;
    padding-bottom: 32px;
    padding-left: 32px;
}

.feature-name {
    padding: 8px;
    text-align: start;
}

.feature-para {
    padding: 12px;
    color: rgb(124, 139, 161);
    line-height: 2;
    font-weight: 500;
    width: 85%;
    text-align: start;
}

.feature-icon {
    border: 1px solid #e5e7eb;
    padding: 16px;
    border-radius: 500px;
}

.feature-row {
    display: flex;
}

/* quality  */

.row-quality {
    display: flex;
}

.quality-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-right: 64px;
}

.quality-right {
    padding: 12px;
    width: 50%;
}

.quality-pic {
    width: 100%;
    border: 1px solid lightgray;
}

.section-subtitle {
    font-size: 18px;
    color: #7c8ba1;
    line-height: 1.625;
    font-weight: 500;
}

.learn__more-btn {
    border-radius: 500px;
    border: none;
    background-color: #6415ff;
    color: white;
    font-weight: 700;
    font-size: 14px;
    padding: 12px 32px;
    margin-top: 32px;
    transition: all 300ms ease;
}

.learn__more-btn:hover {
    background-color: #340d81;
    cursor: pointer;
}

/* steps */

#steps .row {
    display: flex;
}

.laptop-wrapper {
    width: 50%;
    display: flex;
    align-items: center;
}

.laptop {
    width: 100%;
}

.step-numb {
    color: #cbd5e0;
    font-size: 36px;
    font-weight: 600;
    line-height: 1;
}

.step-title {
    font-weight: 600;
    font-size: 20px;
    color: #243e63;
    line-height: 1;
}

.step-subtitle {
    font-size: 14px;
    color: #718096;
    margin-top: 12px;
    font-weight: 500;
    line-height: 2;
    max-width: 80%;
}

.step {
    margin-top: 32px;
    display: flex;
}

.step-description {
    margin-left: 24px;
}

.steps {
    margin: 32px 0px 32px 64px;
}

/* values */

.values {
    width: 50%;
    padding: 32px 64px 32px 0;
}

.prototype {
    width: 50%;
    display: flex;
    justify-content: center;
}

.prototype-img {
    width: 100%;
    padding: 24px;
}

#values .row {
    display: flex;
}

.value {
    padding: 32px 32px 0px 0px;
}

.value-name {
    margin-left: 12px;
    font-size: 20px;
    font-weight: bold;
    color: #243e63;
}

.value-para {
    margin-top: 16px;
    line-height: 1.625;
    color: #718096;
    padding-right: 32px;
}

.values-list {
    display: flex;
}

.value-top {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.value-img {
    background-color: #9ae6b4 ;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
}

.value:nth-child(2) .value-img {
    background-color: #feb2b2;}


/* pricing */

#pricing .row {
    text-align: center;
}

#pricing .section-subtitle {
    padding: 0px 270px;
}

.plans {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.plan {
    display: flex;
    flex-direction: column;
    width: calc(100%/3);
    margin-top: 64px;
}

.stripe {
    height: 8px;
    width: 100%;
    background-color: red;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.plan-content {
    padding-right: 32px;
    text-align: center;
}

.plan-top {
    padding: 32px 0px;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
}

.plan-name {
    font-size: 20px;
    font-weight: bold;
}

.plan-price {
    font-size: 48px;
    font-weight: bold;
    margin: 8px 0px;
}

.plan-duration {
    font-size: 16px;
    color: #a0aec0;
    font-weight: bold;
}

.plan-mid {
    border: 1px solid lightgray;
}

.plan-button {
    color: white;
    border: none;
    padding: 12px 48px;
    border-radius: 24px;
    font-weight: bold;
    transition: all 300ms ease;
}

.plan-bottom {
    padding: 32px 0px;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgrey;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.plan-target {
    font-size: 20px;
    padding: 24px;
    font-weight: bold;
}

.plan-feature {
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 24px;
    color: #718096;
}

.plan:nth-child(1) .stripe {
background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%
100%
);
}

.plan:nth-child(1) .plan-button {
background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%
100%
);
}

.plan:nth-child(3) .stripe {
background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

.plan:nth-child(3) .plan-button {
background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

.plan:nth-child(2) .plan-top {
    background: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
    border: 1px solid rgb(102, 126, 234);
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}
.plan:nth-child(2) .plan-mid {
    background: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
    border: 1px solid rgb(102, 126, 234);
}
.plan:nth-child(2) .plan-bottom {
    background: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
    border: 1px solid rgb(102, 126, 234);
}
.plan:nth-child(2) .plan-button {
    color: blue;}

.plan:nth-child(2) .plan-name {
    color: white;
}
.plan:nth-child(2) .plan-feature {
    color: white;
}
.plan:nth-child(2) .plan-price {
    color: white;
}
.plan:nth-child(2) .plan-duration {
    color: white;
}
.plan:nth-child(2) .plan-target {
    color: white;
}
.plan:nth-child(2) .stripe {
    height: 0px;
}

.plan-button:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
}

/* testimonials */

#test .row {
    display: flex;
}

.test-left {
    width: 50%;
     display: flex;
    align-items: center;
}

.test-right {
    width: 50%;
}

.love-pic {
    width: 100%;
    padding-right: 24px;
}

.test-header {
   color: #4a5568;
   font-size: 20px;
   margin-top: 16px;
   font-weight: 700;
}

.test-desc {
    color: rgb(74 85 104);
    font-size: 16px;
    padding: 24px 0px;
    font-weight: 500;
}

.profile {
    display: flex;
    padding-top: 12px;
    justify-content: space-between;
}

.Char {
    width: 80px;
    border-radius: 50%;
}

.name-desc {
    padding: 12px;
}

.prof-name {
    color: #4a5568;
    font-size: 20px;
    font-weight: 700;
}

.prof-desc {
    color: #7c8ba1;
    font-weight: 500;
}

.stars {
    margin-top: 12px;
}
.fa-star {
    color: gold;
}

.pic-and-name {
    display: flex;
}

.arrows {
    display: flex;
    align-items: center;
}

.left-arrow {
    background: #edf2f7;
    padding: 16px;
    border-radius: 50%;
    border: none;
    margin-right: 16px;
    transition: all 300ms;
}

.right-arrow {
    background: #edf2f7;
    padding: 16px;
    border-radius: 50%;
    border: none;
    transition: all 300ms;
}

.fa-arrow-left {
    color: #6415ff;
    font-weight: bold;
}
.fa-arrow-right {
    color: #6415ff;
    font-weight: bold;
}

.left-arrow:hover {
    background: rgb(229, 231, 235);
}
.right-arrow:hover {
    background: rgb(229, 231, 235);
}

/* start-section */

.text-box {
    background-color:rgb(100, 21, 255) ;
    display: flex;
    padding: 96px 0px;
    justify-content: space-between;
    border-radius: 8px;
}

.box-text {
    color: #f7fafc;
    font-size: 30px;
    font-weight: 700;
    display: flex;
    align-items: center;
    width: 60%;
    justify-content: center;
    padding-left: 48px;
}

.start-buttons {
    display: flex;
    align-items: center;
    padding: 0px 16px;
    width: 40%;
    justify-content: center;
}

.start-box {
    background: #f56565;
    border: none;
    font-size: 16px;
    font-weight: 700;
    padding: 24px;
    border-radius: 100px;
    margin-right: 24px;
    color: #f7fafc;
    transition: all 300ms ease;
}

.start-contact {
    background-color:rgb(100, 21, 255) ;
    border: 1px solid white;
    color: #f7fafc;
    padding: 12px;
    font-size: 16px;
    font-weight: 700;
    padding: 24px;
    border-radius: 100px;
    transition: all 300ms ease;
}

.start-box:hover {
    background: #d44747;
}
.start-contact:hover {
    background-color: #f7fafc;
    color: rgb(100, 21, 255);
}


/* footer */

footer {
    background-color:rgb(100, 21, 255) ;
    padding: 48px 0px;
}

.footer-links-title {
    font-size: 16px;
    font-weight: 700;
    color: #f7fafc;
}

.column-link {
    color: #f7fafc;
    font-size: 14px;
    padding-top: 24px;
    text-decoration: none;
    position: relative;
    width: max-content;
}

.company-name {
    color: #f7fafc;
    font-size: 20px;
    font-weight: 900;
    padding-left: 12px;
}

.copyright-line {
    color: #CBD5E0;
    font-weight: 500;
}

.fb, .twitter, .youtube {
    text-decoration: none;
    font-size: 24px;
}

.fa-facebook, .fa-twitter, .fa-youtube {
    color:white;
}

.footer-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 48px;
}

.footer-column {
    display: flex;
    flex-direction: column;
    padding: 24px ;
}

.copyright {
    display: flex;
    border-top: 1px solid lightgray;
    padding-top: 48px;
    align-items: center;
    justify-content: space-between;
    margin: 0px 24px;
}

.inc {
    display: flex;
    align-items: center;
}

.column-link__hover:after {
    content: "";
    background-color: none;
    height: 2px;
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    bottom: -3px;
    transition: all 300ms ease;
}

.column-link:hover:after {
    width: 100%;
    background-color: white;
}


/* mobiles */

@media (max-width:1025px) {

    h1 {
        font-size: 32px;
    }
    .header-description {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .header-description-para {
        font-size: 16px; 
        text-align: center;
    }
    .row {
        flex-direction: column;
    }
    .header-customers {
        padding: 24px 0px;
    }
    .header-img {
        padding-top: 24px;
    }

    .features-subtitle {
        text-align: center;
        padding: 12px;
    }
    .feature {
        width: 50%;
    }

    .quality-left {
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0px 0px 12px 0px;
    }
    .quality-right {
        width: 100%;
    }

    #steps .row {
        width: 100%;
    }
    .laptop-wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .laptop {
        width: 500px;
    }

    #values .row {
        width: 100%;
    }
    .values {
        width: 100%;
        text-align: center;
        padding: 12px;
    }
    .value {
        padding: 24px 0 0 0;
    }
    .value-para {
        padding-right: 0px;
    }
    .value-top {
        justify-content: center;
    }
    .prototype {
        width: 100%;
        justify-content: center;
    }
    .prototype-img {
        width: 500px;
    }
    
    
    #pricing .section-subtitle {
        width: 100%;
        padding: 24px 0px;
    }
    .plan {
        width: 100%;
        padding: 0px 32px;
    }
    .plan-content {
        width: 100%;
        padding: 0px;
    }

    .test-left {
        width: 100%;
    }
    .test-right {
        width: 100%;
    }
    .love-pic {
        padding: 0px;
    }
    .test-left-pic {
        padding-bottom: 32px;
    }

    .text-box {
        flex-direction: column;
        align-items: center;
    }
    .box-text {
        width: 100%;
        padding: 0px 24px 24px 24px;
        display: flex;
        text-align: center;
    }
    .start-buttons {
        width: 100%;
    }

    .nav-links {
        display: none;
    }
    .hamburger-menu {
        display: block;
    }
    .nav-row {
        display: flex;
        flex-direction: row;
    }
}

@media (max-width:576px) {
    
    h1 {
        font-size: 30px;
    }

    .feature {
        width: 100%;
    }

    .footer-links {
        width: 100%;
    }
    .footer-column {
        padding: 16px;
    }
    .footer-links-title {
        font-size: 12px;
    }
    .column-link {
        font-size: 12px;
    }

    .company-name {
        font-size: 16px;
    }
    .copyright-line {
        font-size: 12px;
    }
    .logo {
        width: 20px;
    }
}







